@charset "utf-8" ; 

$bodyBg : #fff ;

//center background color
$cbc:#211813;
// main theme color 
$mtc : #F98120 ;
// font color
// main font color
$mfc : #333; 
// sub font color
$sfc : #999 ;


//nav hover color
$nhc:#F98120;

//button hover color
$bhc:#F9994B;

//table th color
$ttc:#474747;

//table tr color
$trc:#F2F2F2;


