
.news-edit-container {
        padding: 50px 12px;
    }
    
    .dialog-footer {
        float: right;
    }
    
    .el-form-item img {
        width: 200px;
    }
    
    .el-form-item .tip {
        color: #999;
    }
    
    #inforCover2 {
        display: none;
    }
    .el-dialog__wrapper img{
        width: 100%;
    }
    .preview {
        background: url(/static/images/phone.png) no-repeat;
        width: 434px;
        height: 700px;
        background-size: 80%;
        position: relative;
        margin: 0 auto;
    }
    
    